<div class="outer-container">
  <div class="container">
    <h1 class="page-title">Register</h1>
    <form (submit)="register()" [formGroup]="registerForm" class="register-form">

      <mat-form-field>
        <label for="name">Name:</label>
        <input formControlName="name" id="name" matInput name="name" type="text">
        <div *ngIf="registerForm.get('name')?.invalid && registerForm.get('name')?.touched">
          <small *ngIf="registerForm.get('name')?.hasError('required')">Name is required.</small>
          <small *ngIf="registerForm.get('name')?.hasError('minlength')">Name must be at least 3 characters
            long.</small>
        </div>
      </mat-form-field>


      <mat-form-field>
        <label for="email">E-mail:</label>
        <input autocomplete="new-email" formControlName="email" id="email" matInput name="email" type="text">
        <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched">
          <small *ngIf="registerForm.get('email')?.hasError('required')">Email is required.</small>
          <small *ngIf="registerForm.get('email')?.hasError('email')">Please enter a valid email address.</small>
        </div>
      </mat-form-field>


      <mat-form-field>
        <label for="password">Password</label>
        <input autocomplete="new-password" formControlName="password" id='password' matInput type="password">
        <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
          <small *ngIf="registerForm.get('password')?.hasError('required')">Password is required.</small>
          <small *ngIf="registerForm.get('password')?.hasError('minlength')">Password must be at least 6 characters
            long.</small>
        </div>
      </mat-form-field>


      <mat-form-field>
        <label for="password">Re-type password</label>
        <input formControlName="secondPassword" id='secondPassword' matInput type="password">
        <div *ngIf="registerForm.get('secondPassword')?.invalid && registerForm.get('secondPassword')?.touched">
          <small *ngIf="registerForm.get('secondPassword')?.hasError('required')">Confirm Password is required.</small>
        </div>
        <div *ngIf="registerForm.errors?.['passwordsMismatch']">
          <small>Passwords do not match.</small>
        </div>
      </mat-form-field>

      <small *ngIf="userExists" class="already-exists">
        {{ statusText }}
      </small>
      <button [disabled]="registerForm.invalid" class="submit" mat-button type="submit">
        SIGN UP
      </button>
    </form>
  </div>
</div>
