.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-wrapper {
  width: 40%;
  padding: 10px;
  border-radius: 3px;
}

.login-form {
  display: flex;
  flex-direction: column;
  padding: 10px;
  border-radius: 3px;
  background-color: var(--mat-sys-background);
}

input {
  border: 2px solid peachpuff;
  border-radius: 2px;
}

.forbidden {
  color: red;
  padding: 5px;
}

.submit {
  border: 1px solid var(--mat-sys-primary);
  font-size: 1rem;
}

.title {
  font-size: 3rem;
  color: var(--mat-sys-background);
  text-align: center;
}

