@use "@angular/material" as mat;
@import "../node_modules/leaflet/dist/leaflet.css";
@import '@fontsource/poppins/200.css';
@import '@fontsource/poppins/400.css';
@import '@fontsource/poppins/700.css';

// src/styles.scss
@import 'styles/variables'; // Twoje paddingi itp.
@import 'styles/theme';

body {
  margin: 0;
  background-color: var(--mat-sys-surface-container-low); // Jasne tło Material
  font-family: Roboto, sans-serif;
}

// Globalne stylowanie kart
mat-card {
  border-radius: var(--radius-m) !important;
  background-color: var(--mat-sys-surface) !important;
  border: 1px solid var(--mat-sys-outline-variant); // Subtelna obwódka
}

// Przykład klasy dla fioletowego tekstu
.text-primary {
  color: var(--mat-sys-primary);
}